@import "semantic/src/site/globals/site.variables"; 

.login {

  height: 100vh;
  background-color: @blue;
  // margin-top: 0 !important;

  

  .box-row{
        height: 70%;
        .box{
          background-color: @white;
          height: 100%;
        }
  }



  
  // .box{
  //     height: 520px;
  //     border-radius: 2px;
  //     background-color: #ffffff;
  //     box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  //     padding: 0 !important;

  //     .lu{
  //       background-color: @blue;
  //       height: 100%;
  //       width: 40%;
  //       border-radius: 2px;

  //       .logo{
  //         width: 187.9px;
  //         padding: 25px;
  //       }
  //       .lu{
  //         width: 187.9px;
  //         padding: 25px;
  //       }
  //     }
  // }  


  // .ui.grid{
  //   margin: 0;
  // }
}


// .middle {
//   height: 100%;
// }

