@import "semantic/src/site/globals/site.variables"; 

.login {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: @blue;

  .box{
        height: 80%;        
        width: 80%;
        background-color: @white;
        margin: 0 auto 0 auto;
        border-radius: 2px;        
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);        
        @media (min-width: @computerBreakpoint){
          height: 50%;        
          width: 40%;
        }

  }

  .box > .grid{
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .brand{
    background-color: @blue;
    height: 100%;
    padding: 0;

    span{
      color: @white;
      display: block;
      font-family: Arial;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      padding: 0 27px;      
    }

    .logo{
      width: 100%;
      padding: 27px;
      margin: auto; 
    }

    .lu{
      width: 100%;
      padding: 0px 12px;
      margin: auto;
      position: absolute;
      bottom: 0px;
      left: 0;
    }
  }

  form{
    
  }

}